{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~ui": "./src/app/components",
        "~containers": "./src/app/containers",
        "~layouts": "./src/app/layouts",
        "~pages": "./src/app/pages",
        "~utils": "./src/utils",
        "~state": "./src/app/state"
      }
    }]
  ]
}
